.custom-shape-divider-top-1770492582 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1770492582 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 203px;
}

.custom-shape-divider-top-1770492582 .shape-fill {
    fill: #F6F7EB;
}
/* <div class="custom-shape-divider-top-1770492582">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path
				d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
				class="shape-fill"></path>
		</svg>
	</div> */


.custom-shape-divider-top-1770493028 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1770493028 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
}

.custom-shape-divider-top-1770493028 .shape-fill {
    fill: #F6F7EB;
}




.custom-shape-divider-bottom-1770493717 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1770493717 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 144px;
}

.custom-shape-divider-bottom-1770493717 .shape-fill {
    fill: #F6F7EB;
}

.custom-shape-divider-bottom-1770493845 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1770493845 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 290px;
}

.custom-shape-divider-bottom-1770493845 .shape-fill {
    fill: #F6F7EB;
}

.custom-shape-divider-top-1770494288 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1770494288 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 197px;
}

.custom-shape-divider-top-1770494288 .shape-fill {
    fill: #F6F7EB;
}


.custom-shape-divider-bottom-1770494394 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* transform: rotate(180deg); */
    transform: rotateX(180deg) translateX(1px) scale(1.01);
}

.custom-shape-divider-bottom-1770494394 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1770494394 .shape-fill {
    fill: #F6F7EB;
}


.custom-shape-divider-top-1770494784 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #E94F37;
}

.custom-shape-divider-top-1770494784 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1770494784 .shape-fill {
    fill: #000000;
}



.custom-shape-divider-bottom-1770495402 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1770495402 svg {
    position: relative;
    display: block;
    width: calc(181% + 1.3px);
    height: 171px;
    transform: rotateY(180deg) translateY(1px) scale(1.01);
}

.custom-shape-divider-bottom-1770495402 .shape-fill {
    fill: #F6F7EB;
}